body {
    background: rgb(250, 250, 250);
}

header .logo {
    width: 100%;
    height: auto;
    max-width: 35vw;
}

header .h2 {
    color: black;
    display: block;
    margin-bottom: 10px;
}

header nav {
    margin-top: 20px;
}

header nav label {
    min-width: 140px;
}

footer nav a {
    margin: 0 10px;
    color: rgb(255, 126, 0);
}

footer nav a:hover {
    color: rgb(0, 169, 244);
}
