.product h2 {
    font-size: medium;
    margin: 0 0 15px 0;
    display: list-item;
    list-style-position: inside;
}

.product .price {
    font-size: x-large;
    text-align: center;
    padding: 25px;
}
