.products .product {
    display: block;
    position: relative;
    padding: 0;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.products .product:hover {
    text-decoration: none;
}

.products .product .info {
    display: block;
    width: 100%;
    background: rgb(252, 93, 157);
    color: white;
    padding: 5px 10px;
    text-align: center;
    transition: .4s ease all;
    font-style: normal;
}

.products .product:hover .info {
    background: rgb(12, 22, 100);
}
