nav a {
    padding: 10px;
    margin: 0 5px;
    color: white;
}

nav a.active {
    background: black;
    color: white;
}

h1 {
    font-size: large;
    padding-bottom: 5px;
    border-bottom: solid 1px rgb(218, 218, 218);
}
